<div class="container">
    <div class="d-flex justify-content-center">
        <h6>Success! Please use this link:</h6>
    </div>
    <div class="input-group">
        <input type="text" class="form-control" value="{{newUrl}}" id="newUrl" aria-describedby="addon-wrapping">
        </input>
        <button class="btn btn-dark" onclick="copyUrl()">
            <i class="far fa-copy ml-1 mr-1"></i>Copy
        </button>
    </div>
</div>

<script>
    function copyUrl() {
        document.querySelector('#newUrl').select()
        document.execCommand("Copy")
        alert("URL Copied！")
    }
</script>