<div class="container">
    <form action="/" method="POST">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter the link here" aria-label="Recipient's username"
                aria-describedby="button-addon2" name="name">
            </input>
            <button class="btn btn-outline-dark" type="submit">
                -- <i class="fas fa-cut"></i> ---
            </button>
        </div>
    </form>

</div>


<ul>
    {{#each shorteners}}
    <li>
        {{this.name}}
    </li>
    {{/each}}
</ul>