<div class="container">
    <form action="/" method="POST">
        <div class="input-group mb-3">
            <input type="url" class="form-control" placeholder="Enter the link here" aria-label="Recipient's username"
                aria-describedby="button-addon2" name="fullUrl" id="fullUrl" required>
            </input>
            <button class="btn btn-dark" type="submit">
                -- <i class="fas fa-cut"></i> ---
            </button>
        </div>
    </form>
</div>